body{
    margin: 0px;
}

*{
    font-family: "Oswald", serif;
    z-index: 1;
}
button{
    cursor: pointer;
}
nav{
    z-index: 13;
}
/* seccionInicio*/
header{
    background-image: url(imagenes/banner.png);
    height: 1000px;
    background-repeat: none;
    background-position: center;
    background-size:cover;

}
.imgFondoBan{
    position: absolute;
    z-index: -2;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
nav{
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 7px;
}
#barraNav{
    
}
nav div{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.menuSR{
    display: flex;
    width: 80%;
    justify-content:space-evenly;
}
.menuSR li{
    list-style: none;
    color: white;
    transition: all 1s;
    
}
.lineaMenu{
    visibility: hidden;
    border-color: red;
    height: 0px;
    width: 0px;
    margin-top: 0px;
    transition: all 0.5s;
}
.menuSR a{
    text-decoration: none;
    color: white;
}
nav div button{
    background: none;
    border: 2px solid red;
    color: white;
    border-radius: 200px;
    width: 120px;
    
}
.seccionBan{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.spaceBan{
    display: flex;
    width: 90%;
    height: 75%;
    justify-content: space-between;
}
.text{
    width: 45%;
}
.titulo{
    position: relative;
    left: -80px;
    
}
.text p{
    margin: 0px;
    font-size: 18px;
    color: white;
}

.botonesBan{
    height: 50px;
    border: 2px solid red;
    margin-top: 40px;

}
.rojo{
    background-color: red;
    color: white;
    transition: all 1s;
}
.vacio{
    background: none;
    color: red;
    margin-left: 10px;
    transition: all 1s;
}
hr{
    height: 100%;
    width: 0px;
}
.barra{
    height: 100%;
}
.barraHist{display: flex;}
.circ{
    background-color: white;
    border-radius: 100px;
    position: relative;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all 1s;
}
.circ:hover{
    background-color: red;
}

.cuadrosImg{
    height: 100%;
}
.imgsFond{
    background-color: rgb(114, 114, 114);
    height: 18.9%;
    margin-top: 10PX;
    margin-right: 10px;
    width: 250px;
    transition: all 1s;
    cursor: pointer;
}
.imgsFond img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rojo:hover{
    background-color: white;
    border-color: white;
}
.rojo:hover p{
    color: red;
}

.vacio:hover{
    background-color: red;
    border-color: red;
}
.vacio:hover p{
    color: white;
}
.uno{
    top: -690px;
}


.dos{
    top: -560px;
}
.tres{
    top: -430px;
}
.cuatro{
    top: -300px;
}
.cinco{
    top: -170px;
}

@media(max-width: 1126px){
    .barraHist{
        display: none;
    }
    .text{
        width: 95%;
    }
    .titulo{
        width: 100%;
    }
}
@media(max-width: 468px){
    .titulo{
        width: 90%;
        margin-left: 50px;
    }
}
@media(max-width: 630px){
    .tituloC h2{
       margin-bottom: 0px !important;
    }
    .tituloC{
        background-size: 80% !important;
    }
}
@media(max-width: 409px){
    .tituloC{
        background-size: 100% !important;
    }
}
.cajaMenuRep{
    display: none;
}
@media(max-width:468px){
    #barraNav div{
        display: none !important;
    }

    .mav {
        display: none;
    }

    .BarraN {
        display: none;
    }

    .checkbtnRep {
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 5%;
        cursor: pointer;
    }

    li {
        opacity: 100%;
    }

    .logoRep {
        width: 70px;
        height: 70px;
        margin-left: 20%;
    }

    #ulREP {
        position: fixed;
        width: 70%;
        height: 3576px;
        background-color: rgb(0, 0, 0);
        margin: 0;
        padding: 0;
        top: 80px;
        z-index: 999;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0%;
        left: -100%;
        text-align: center;
        transition: all 1.7s;
        right: -100%;
    }
    #abrir{
        font-size: 25px;
    }
    .cajaMenuRep {
        z-index: 999;
        display: flex;
        position: fixed;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .cajaMenuRep ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    .cajaMenuRep ul li a {
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    .cajaMenuRep ul li a:hover {
        color: rgb(255, 0, 0);
    }

    li a:hover,
    li a.active {
        background: none;
        color: white;
    }

    #checkMenRep {
        display: none;
    }

    #checkMenRep:checked~#ulREP {
        left: 0;

    }

    li:checked~#ulREP {
        right: -1000px;
    }
}
/* seccionInicio fin*/
/*nosotros*/

#Nosotros{
    background-color: rgb(255, 0, 0);
    height: 1000px;
}
.ConjuntoFranja{
    position: relative;
    top: -150px;
    display: flex;
    z-index: 0;
}
.ConjuntoFranja2{
    position: absolute;
    width: 100%;
    top: 2000px;
    display: flex;
    z-index: 0;
}
.franja{
    background-image: url(imagenes/franja.png);
    display: flex;
    width: 50%;
    height: 150px;
    
    background-repeat: no-repeat;
    background-position: center 0%;

}
.franja2{
    background-image: url(imagenes/franja.png);
    display: flex;
    width: 50%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
    background-position: center 0%;

}
.franja3{
    background-image: url(imagenes/franja2.png);
    display: flex;
    width: 60%;
    height: 150px;
    transform: scaleX(1) scaleY(-1);
    background-repeat: no-repeat;
    background-position: center 11%;
}
.franja4{
    background-image: url(imagenes/franja2.png);
    display: flex;
    width: 70%;
    height: 200px;
    right: 0px;
    z-index: 6;
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleY(-1);
    background-position: center 0%;

}
.contenedorNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centradoNosotros{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.textoNootros p, .textoNootros{
    color: white;
}
.textoNootros{
    width: 45%;
}
.textoNootros button{
    color: red;
    background-color: white;
    border: none;
    height: 50px;
    width: 110px;
    margin-bottom: 20px;
}
.imgPersonCir{
    width: 45%;
}
.imgPersonCir img{
    width: 90%;
    position: relative;
    bottom: 60px;
    left: 20%;
}
.video{
    width: 90%;
}
@media(max-width:1021px){
    .textoNootros{
        width: 100%;
    }
    .imgPersonCir{
        display: none;
    }
    .video{
        width: 100%;
    }
}
@media(max-width:461px){
    #Nosotros{
        height: 800px;
    }
    .ConjuntoFranja2{
        top: 1800px;
    }

}
/* fin nosotros*/

/*capitulos*/

#capitulos{
    height: 1200px;
    background-image: url(imagenes/cap1.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;

}
.centTCaps{
    height: 100%;
}
.capCen{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 60%;
}
.textosCapitulo{
    width: 90%;
}
.cuadrosImg2{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-shrink: 0; 
}
.imgsFond2 {
    height: 200px;
    width: 300px;
    flex-shrink: 0; 
    margin-left: 10px;
    margin-right: 10px;
    transition: all 1s;
    cursor: pointer;
}
.imgsFond2 img{
    width: 100%;
    height: 100%;
}
.contenedorDeslizante {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.circ2{
    background-color: white;
    border-radius: 100px;
    position: absolute;
    height: 20px;
    width: 20px;
    cursor: pointer;
    transition: all 1s;
}
.barra2{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0; 

}
.barra2 hr{
    width: 90%;
    position: absolute;
    height: 0px;
}
.barraHist2 {
    width: 100%;
    height: 30%;
    overflow-x: scroll; 
    display: flex; 
}
.barraHist2::-webkit-scrollbar {
    height: 0px;
}

.barraHist2::-webkit-scrollbar-thumb {
    border-radius: 4px;
}
.huno{
    right: 89%;
}
.hdos{
    right: 68.5%;

}
.htres{
    right: 49.5%;
}
.hcuatro{
    right: 30%;
}
.hcinco{
    right: 10%;
}

.textosCapitulo *{
    width: 45%;
    color: white;
}
@media(max-width:1021px){
    .textosCapitulo *{
        width: 100%;
    }
    .franjasNegras{
        top: 3100px !important;
    }
}
@media(max-width:457px){

    .franjasNegras{
        top: 2950px !important;
    }
}

/* capitulos fin*/
/*contactar*/

#contactar{

    background-color: rgb(0, 0, 0);
}
.franjasNegras{
    position: absolute;
    top: 2980px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
.franjasNegras img{
    width: 100%;
    object-fit: cover;
}
.tituloC{
    background-image: url('imagenes/franjaCont.png');
    background-position: 0% 80%;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 50%;
    display: flex;
    align-items: center;
} 
.tituloC h2{
    margin-left: 100px;
    color: white;
    font-size: 30px;
}
.mapa{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 47px;
}
.centrCo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.cajaC{
    position: relative;
    z-index: 7;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.formCon{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.formCon input[type='submit']{
    width: 200px;
    height: 40px;
    background-color: red;
    color: white;
    border: none;
}
.formCon input{
    margin-top: 10px;
    height: 40px;
    color: white;
    background: none;
    border: 1px solid white;
}
.formCon input::placeholder{
    color: white;
}
.msj{
    height: 120px !important;
}
li *{
    color: white;
    text-decoration: none;
    margin-top: 0px;
}
.cajaConjuntoCuls{
    position: relative;
    z-index: 7;
    display: flex;
    justify-content: space-between;
    width: 96%;
    margin-top: 50px;
}
.cajaUls{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.cajaCopys{
    width:35%;
    display: flex;
    
}
.cajaCopys img{
    width: 250px;
    height: 150px;
}
.parrafoCopy{
    color: white;
    width: 180px;
}
@media(max-width:900px){
    .cajaC{
        flex-direction: column;
    }
    .tituloC{
        width: 100%;
        height: 180px;
    }
    .tituloC h2{
        margin-top: -16px;
    }
    .formCon{
        width: 100%;
    }
    .mapa{
        width: 100%;
    }
    .cajaConjuntoCuls{
        flex-direction: column;
        align-items: center;
    }
    .cajaUls{
        width: 94%;
    }
    .cajaUls ul{
        padding: 0px;
        margin: 0px;
    }
    .cajaCopys{
        width: 94%;
        justify-content: space-between;
    }
    @media(max-width:484px){
        .cajaCopys{
            flex-direction: column;
        }
    }
}
/*contactar fin*/
